<section class="p-3 p-lg-5" id="blog">
    <hr>
    <div class="w-100">
        <h1>Articles</h1>
        <h3>Written about my work:</h3>
        <div class="row">
            <div class="col-md-4">
                <a href="https://248am.com/mark/interesting/buskw-making-sense-of-public-transportation/">busKW – Making Sense of Public Transportation: 248AM</a>
            </div>
            <div class="col-md-8">
                Apr 18, 2017
            </div>
        </div>
    </div>
</section>