<section class="p-3 p-lg-5" id="projects">
    <hr>
    <div class="w-100">
        <!-- Portfolio Section -->
        <h1>GitHub Projects</h1>
        <p>Here are some of my open-source projects. In fact, you are <a target="_blank"
                href="https://github.com/jakemassoth/massoth.tech">looking
                at
                one</a> right now!</p>
        
        <div class="row" id="github-projects">

        </div>

    </div>
</section>

<script src="/assets/js/github_projects.js"></script>
<script>
    var username = "{{ site.github_username }}";
    getGithubProjects(username, insertProjectsHTML);
</script>