<section class="p-3 p-lg-5" id="work" >
    <hr>
    <div class="w-100">
        <h1>Work Experience</h1>
        {% for experience in site.work %}
        <div class="row pb-3">
            <div class="col-md-4">
                <h3>{{ experience.company_name }}</h3>
                <h4>{{ experience.job_title }}</h4>
                <h5>{{ experience.location }}</h5>
                <small>{{ experience.time_employed }}</small>
            </div>
            <div class="col-md-8">
                <p>{{ experience.content | markdownify }}</p>
            </div>
        </div>
        {% endfor %}
    </div>


</section>