<section class="p-3 p-lg-5" id="work" >
    <hr>
    <div class="w-100">
        <h1>Work Experience</h1>
        <div class="row pb-3">
            <div class="col-md-4">
                <h3>Pediatric Potential Inc.</h3>
                <h4>Web Developer</h4>
                <h5>Freelance</h5>
                <small>April 2019-Current</small>
            </div>
            <div class="col-md-8">
                <p> I perform web administrator responsibilities for clients, create and modify existing wordpress templates for single and multi-lingual websites using the Twig templating engine.</p>
                <p>Used HTML and CSS to create HTML-based email signatures for clients.</p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4">
                <h3>CodeM8</h3>
                <h4>HTML/CSS Teacher</h4>
                <h5>Amsterdam</h5>
                <small>Feburary 2019-March 2019</small>
            </div>
            <div class="col-md-8">
                <p>Created HTML/CSS curriculum and lessons for 12-14 year old Dutch students.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>busKW</h3>
                <h4>Founder and Lead Developer</h4>
                <h5>Kuwait</h5>
                <small>October 2016-May 2018</small>
            </div>
            <div class="col-md-8">
                <p>Developed BusKW website and functional webapp, Google maps and Mapbox platforms. </p>
                <p>Designed and built backend REST APIs and databases for geographical information system platforms, using Django framework and PostgreSQL. </p>
                <p> Carried out administration-related activities, i.e. meeting with investors, created business plans. </p>
                <p> Successfully collaborated with a diverse leadership team. </p>

            </div>
        </div>
    </div>


</section>