{% extends "layout.html" %}

{% block content %}
<div class="container-fluid p-0">
    <section class="p-3 p-lg-5 d-flex flex-column justify-content-center" id="business-card">
        <div class="w-100">
            <h1>Jake <span class="font-weight-bold">Massoth</span></h1>
            <h2>Full-stack developer</h2>
            <h3><small class="text-muted"><i class="fas fa-map-marker"></i> Amsterdam, The
                    Netherlands</small></h3>
            <p class="pb-3">Hi, my name is Jake and I am an American Computer Science student. I aim to build software
                that positively affects millions of people's lives.</p>
            <ul class="list-group list-group-flush pb-3">
                <li class="list-group-item list-group-item-action">
                    <a href="mailto:jakemassoth16@gmail.com"><i class="fas fa-envelope"></i> jakemassoth16@gmail.com</a>
                </li>
                <li class="list-group-item list-group-item-action">
                    <a href="tel:+31-06-11241990"><i class="fas fa-phone"></i>+31-06-11241990</a>
                </li>
            </ul>
            <div class="social-icons pl-4">
                <a target=_blank href="https://www.linkedin.com/in/jake-m-814441133/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a target="_blank" href="https://github.com/bluzomby">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="p-3 p-lg-5" id="projects">
        <hr>
        <div class="w-100">
            <!-- Portfolio Section -->
            <h1>GitHub Projects</h1>
            <p>Here are some of my open-source projects. In fact, you are <a target="_blank"
                    href="https://github.com/bluzomby/massoth.tech">looking
                    at
                    one</a> right now!</p>

            <div class="row">
                {% for item in projects[:6] %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a target="_blank" href="{{ item['html_url'] }}">{{ item['name'] }}</a>
                            </h5>
                            {% if item['language'] is not none %}
                            <h6 class="card-subtitle mb-2 text-muted">{{ item['language'] }}
                            {% endif %}
                            </h6>
                            {% if item['description'] is not none %}
                            <p class="card-text"> {{item['description'] }} </p>
                            {% endif %}
                        </div>
                        {% if item['stargazers_count'] is not none %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-star"></i>: {{ item['stargazers_count'] }}
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-code-branch"></i>: {{ item['forks_count'] }}
                            </li>
                            <li class="list-group-item">
                                Most Recent Commit: {{ item['updated_at']}}
                            </li>
                        </ul>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.row -->
    <section class="p-3 p-lg-5" id="work" >
        <hr>
        <div class="w-100">
            <h1>Work Experience</h1>
            <div class="row">
                <div class="col-md-4">
                    <h2>Freelance Web Developer</h2>
                    <small>2018-Current</small>
                </div>
                <div class="col-md-8">
                    <p> I perform web administrator responsibilities for clients, create and modify existing wordpress templates for single and multi-lingual websites using the Timber templating engine. Used HTML and CSS to create HTML-based email signatures for clients.
                    </p>
                </div>
            </div>
        </div>


    </section>
    <section class="p-3 p-lg-5" id="education">
        <hr>
        <div class="w-100">
            <h1>Education</h1>
            <div class="row">
                <div class="col-md-4">
                    <h2>The American International School of Kuwait</h2>
                    <small>2014-2018</small>
                </div>
                <div class="col-md-8">
                    <h3>International Baccalaureate Diploma</h3>
                    <p>Graduate of the International Baccalaureate Diploma Programme, widely considered one of the most
                        rigorous and intensive high school programs, with a focus on business, physics, mathematics,
                        information technology, and music.
                    </p>
                    <p>Graduated with honours and a GPA of 4.13.</p>
                    <p>Obtained the International Baccalaureate diploma with a final score of 34.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Vrije Universiteit Amsterdam</h2>
                    <small>Expected Graduation: June 2021</small>
                </div>
                <div class="col-md-8">
                    <h3>BSc in Computer Science</h3>
                    <p>Currently pursuing a bachelor of science in computer science.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="p-3 p-lg-5" id="blog">
        <hr>
        <div class="container">
            <h1>Blog</h1>
            <div class="jumbotron">
                <h2>A work in progress, coming soon!</h1>
            </div>
        </div>
    </section>
</div>

{% endblock %}
