{% extends "layout.html" %}
{% block projects %}
<div class="container">
  <!-- Portfolio Section -->
  <h2>GitHub Projects</h2>
  <p>Here are my open-source projects. In fact, you are <a href="#">looking at one</a> right now!</p>

  <div class="row">
    {% for item in projects %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ item['html_url'] }}">{{ item['full_name'] }}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item['language'] }}
          </h6>
          {% if item['description'] is not none %}
          <p class="card-text"> {{item['description'] }} </p>
          {% endif %}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-star-o"></i>: {{ item['stargazers_count'] }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-code-fork"></i>: {{ item['forks_count'] }}
          </li>
          <li class="list-group-item">
            Most Recent Commit: {{ item['updated_at'] }}
          </li>
        </ul>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- /.row -->
{% endblock %}