{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">404 Error -
    <small>Page Not Found</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">404</li>
  </ol>

  <div class="jumbotron">
    <img class="img-fluid" src="https://i.imgur.com/mHIvkeQ.png">
    <p>The page you're looking for could not be found. Try one of these:</p>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="about">About</a>
      </li>
      <li>
        <a href="contact">Contact</a>
      </li>
      <li>
        <a href="blog">Blog</a>
      </li>
    </ul>
  </div>
  <!-- /.jumbotron -->

</div>
{% endblock %}