---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = await getCollection("projects").then((projects) =>
  projects.sort((a, b) => {
    return b.data.year - a.data.year;
  }),
);
---

<BaseLayout title="Home">
  <section>
    <h1>Hi, I'm Jake.</h1>
    <section class="links">
      <a class="styled-link" href="https://github.com/jakemassoth">GitHub</a>
      <a class="styled-link" href="https://www.linkedin.com/in/jakemassoth/"
        >LinkedIn</a
      >
    </section>
    <p>
      I'm a full stack engineer with a product mindset and an eye for developer
      experience.
    </p>
    <p>
      On this site you can check out my blog, read about some of my projects, or
      read more about me.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    <div class="projects">
      {
        projects.map((project) => (
          <div class="project">
            <div class="project-front">
              <h3>{project.data.title}</h3>
              <div class="project-body">{project.body}</div>
            </div>
            <div class="project-links">
              {Boolean(project.data.article) && (
                <a class="styled-link" href={project.data.article}>
                  Article
                </a>
              )}
              {Boolean(project.data.repo) && (
                <a class="styled-link" href={project.data.repo}>
                  Repo
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>
  .projects {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 45% 45%;
  }
  .project {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-front {
    display: flex;
    flex-direction: column;
  }
  .project h3 {
    margin-top: 0;
  }
  .project-links {
    display: flex;
  }
  .styled-link {
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 4px;
    margin-right: 10px;
    color: var(--text-color);
  }
  .project-body {
    display: flex;
    padding-bottom: 10px;
  }
</style>
